/*** FONTS ***/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,600,700');

/*
font-family: 'Poppins', sans-serif;
font-family: 'Libre Franklin', sans-serif;
*/

/*** ROWS ***/
.row.full { width: 100%; max-width: 100%; }
.full-width { width: 100%; }  
.full { width: 100%; }
.container { width: 1300px; max-width: 100%; }

/*** DEFAULTS ***/
.wrap { position: relative; }
img { max-width: 100%; }
.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }

/*** BODY ***/ 
html, body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 300;
    background: #FFF;
    font-family: 'Libre Franklin', sans-serif;
}

/*** LINKS ***/
a { color: #333; }
a:hover { color: #888; }
   
/*** HEADERS ***/
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-weight: bold;
    color: #333;
    margin-top: 0px;
    margin-bottom: 15px;
    font-family: 'Poppins', sans-serif;
}
h1, .h1 { font-size: 40px; }
h2, .h2 { font-size: 36px; }
h3, .h3 { font-size: 30px; }
h4, .h4 { font-size: 28px; }
h5, .h5 { font-size: 24px; }
h6, .h6 { font-size: 18px; }
    
/*** SECONDARIES ***/
.button, button, input[type=submit] {
    background: transparent;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 18px;
    text-transform: uppercase;
    padding: 10px 80px;
    display: inline-block;
    text-align: center;
    font-weight: bold;
}
.button:hover, button:hover, .button.active, button.active, input[type=submit]:hover, input[type=submit].active {
    background: #FFF;
    color: #6053CA;
    text-decoration: none;
    cursor: pointer;
}
button.small, .button.small {
    font-size: 14px;
}

/*** PARAGRAPHS ***/
p {
    font-size: 16px;
    color: #333;
}
p.medium { font-size: 20px; }
p.large { font-size: 24px; }

/*** LABELS ***/
label {
    color: #333;
    font-weight: normal;
    display: block;
    font-size: 14px;
}
span.field-validation-error {
    font-size: 12px;
    background: #FF0000;
    width: 100%;
    display: block;
    position: relative;
    top: -15px;
    color: #FFF;
    padding: 10px 15px;
}

/*** INPUT ***/
[type=color],
[type=date],
[type=datetime-local],
[type=datetime],
[type=email],
[type=month],
[type=number],
[type=password],
[type=search],
[type=tel],
[type=text],
[type=time],
[type=url],
[type=week],
textarea {
    background: #FFF;
    color: #005087;
    box-shadow: none;
    border: 1px solid #eee;
    padding: 15px;
    height: 40px;
    width: 100%;
    outline: none;
    margin: 0px 0px 15px 0px;
    max-width: 100% !important;
    font-size: 14px;
}
input, select {
    font-size: 14px;
    font-weight: normal;
}
textarea {
    height: 150px;
    max-width: 100%;
    margin-bottom: 10px;
}

/*** HEADER ***/
header {
    position: absolute;
    height: 105px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 9999;
    background: url(/assets/images/shadow-top.png);
    background-repeat-x: repeat;
    background-repeat-y: no-repeat;
    background-position: top center;
    transition: all 0.4s linear;
}
header.active { position: fixed; background: #5F53CA; }
header img { padding-top: 10px; }
header nav {
    font-size: 0px;
    text-align: left;
    padding-left: 100px;
}
header nav li {
    display: inline-block;
    margin-left: 30px;
    color: #FFF;
    font-weight: normal;
    font-size: 16px;
    height: 80px;
    line-height: 80px;
}
header nav li:hover {
    text-decoration: underline;
}
header .details {
    padding-right: 0px;
    text-align: right;
    font-size: 0px;
}
header .contact {
    background: #1E2353;
    padding: 15px 20px 15px 55px;
    display: inline-block;
    color: #FFF;
    text-align: left;
    margin-left: 5px;
    transition: all 0.4s linear;
}
header .contact.email { background: #1E2353 url(/assets/images/email.png) no-repeat; background-position: left 15px center; }
header .contact.email:hover { opacity: 0.8; }
header .contact.phone { background: #1E2353 url(/assets/images/phone.png) no-repeat; background-position: left 15px center; }
header .contact.phone:hover { opacity: 0.8; }
header .contact .title { font-size: 16px; }
header .contact .address { font-size: 12px; }

/*** HERO ***/
.section.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    background: url(/assets/images/hero1.jpg) no-repeat;
    background-size: cover;
    background-position: bottom center;
}
.section.hero .logo {
    background: #1E2353 url(/assets/images/logo.png) no-repeat;
    background-position: center;
    width: 80px;
    height: 100%;
    position: absolute;
    top: 0px; 
    left: 0px;
}

/*** SERVICES ***/
.section.services {
    margin-top: -70px;
    margin-bottom: 50px;
}
.section.services .service {
    height: 400px;
    position: relative;
    transition: all 0.2s linear;
}
.section.services .service:hover {
    margin-top: -70px;
    height: 470px;
}
.section.services .service .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(30, 35, 83, 0.6);
}
.section.services .service .overlay .title {
    height: 70px;
    line-height: 70px;
    overflow: hidden;
    text-align: center;
    color: #FFF;
    background: #495a85;
    font-weight: bold;
}
.section.services .service .text {
    padding: 40px;
}
.section.services .service .text p {
    font-size: 24px;
    color: #FFF;
}
.section.services .service .read {
    position: absolute;
    bottom: 15px;
    background: #FFF;
    width: calc(100% - 30px);
    left: 15px;
    padding: 15px 15px;
    font-weight: bold;
    color: #000;
    background: #FFF url(/assets/images/arrow-right.png) no-repeat;
    background-position: right center;
}

/*** ABOUT ***/
.section.about {
    background: #FFF;
    margin-bottom: 50px;
}
.section.about .box {
    padding: 50px;
    background: #eee;
}
.section.about .box img {
    width: 100%;
    margin-bottom: 15px;
}

/*** MAP ***/
.section.map { font-size: 0px; }

/*** LOCATIONS ***/
.section.locations .location {
    padding: 0px;
    position: relative;
    height: 700px;
    overflow: hidden;
}
.section.locations .location .overlay-img {
    position: absolute;
    top: -5%;
    left: -5%;
    height: 110%;
    width: 110%;
    background-size: cover;
    background-position: center;
    filter: blur(4px);
}
.section.locations .location .overlay-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    padding: 220px 25px;
    background: rgba(0,0,0,0.4);
}
.section.locations .location .title {
    font-size: 24px;
    color: #FFF;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}
.section.locations .location .subtitle {
    font-size: 16px;
    line-height: 22px;
    color: #FFF;
    text-align: center;
    margin-bottom: 30px;
    font-weight: normal;
}
.section.locations .location .buttons {
    margin-top: 60px;
}
.section.locations .location .buttons .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    max-width: 300px;
    background: #1E2353;
    border: 0px;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0px;
    text-align: center;
    transition: all 0.4s linear;
}
.section.locations .location .buttons .button:hover { color: #FFF !important; }
.section.locations .location .buttons .button.email { background: #1E2353 url(/assets/images/email.png) no-repeat; background-position: left 30px center; }
.section.locations .location .buttons .button.email:hover { background: rgb(53, 60, 121) url(/assets/images/email.png) no-repeat; background-position: left 30px center; }
.section.locations .location .buttons .button.phone { background: #1E2353 url(/assets/images/phone.png) no-repeat; background-position: left 30px center; }
.section.locations .location .buttons .button.phone:hover { background: rgb(53, 60, 121) url(/assets/images/phone.png) no-repeat; background-position: left 30px center; }

/*** FOOTER ***/
footer .copyright {
    background: #1E2353;
    padding: 15px 0px;
}
footer .copyright p {
    color: #FFF;
    font-size: 12px;
    margin: 0px;
}
footer .copyright p a {
    color: #FFF;
    text-decoration: underline;
}
footer .copyright p a:hover { color: #888; }